# exclude .gro files, except in examples, tests and experiments
*.gro
!tests/**/*.gro
!examples/**/*.gro
!experiments/**/*.gro
!benchmarks/**/*.gro
# exclude all xyz and xtc trajectory files
*.xyz
*.xtc
!examples/**/*.xtc
# exclude out files
out*
**/out*
# exclude xvg from tests directory (energy.xvg, forces.xvg usually)
tests/**/*.xvg
# exclude logs
*.log
# exclude python cache
**/__pycache__/
# exclude backed up files
\#*
# exclude hidden files
.*
# exclude build products
build/*
martini_daemon.egg-info/*
dist/*
martini_daemon/**/*.c
build
martini_daemon.egg-info
dist
